.avatar {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgb(152, 152, 152);
  margin: 5px;
  cursor: pointer;
}

.avatar:hover {
  opacity: 0.7;
}

.avatar-no-img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}